@import '../../variables';
@import '../article';

// Article card height
$article-card-height: 550px;

// Article card image sizing
$article-card-img-height: 225px;
$article-card-img-height-lg: 175px;
$article-card-img-height-md: 200px;
$article-card-img-height-sm: 300px;

// Article headline font
$article-card-headline-font-size: 1.35rem;
$article-card-headline-line-height: 1.85rem;
$article-card-headline-font-size-lg: 1.15rem;
$article-card-headline-line-height-lg: 1.65rem;

// Article byline and dateline font
$article-card-byline-dateline-font-size: 1rem;
$article-card-byline-dateline-line-height: 1.5rem;
$article-card-byline-dateline-font-size-lg: .85rem;
$article-card-byline-dateline-line-height-lg: 1.35rem;

// Article promo font
$article-card-promo-font-size: 1rem;
$article-card-promo-line-height: 1.5rem;


.article-card-link {
    color: black;
    text-decoration: none;

    &:hover {
        color: $link-color;
        text-decoration: none;
    }
}

.article-card-promo {
    font-family: $font-family;
}

.article-card:not(.top-article-card) {
    height: $article-card-height;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid $border-color-light;
    border-radius: 8px;
    box-shadow: 10px 10px 15px $box-shadow-color;

    @media (max-width: $sm-max) {
        height: auto;
    }

    .article-image-container {
        margin-bottom: 1.5rem;
    }

    .article-image {
        height: $article-card-img-height;
        width: 100%;
        overflow: hidden;

        @media (max-width: $lg-max) {
            height: $article-card-img-height-lg;
        }

        @media (max-width: $md-max) {
            height: $article-card-img-height-md;
        }

        @media (max-width: $sm-max) {
            height: $article-card-img-height-sm;
        }
    }

    .article-headline {
        font-size: $article-card-headline-font-size;
        line-height: $article-card-headline-line-height;

        @media (max-width: $lg-max) {
            font-size: $article-card-headline-font-size-lg;
            line-height: $article-card-headline-line-height-lg;
        }

        @media (max-width: $md-max) {
            font-size: $article-card-headline-font-size;
            line-height: $article-card-headline-line-height;
        }
    }

    .article-byline,
    .article-dateline {
        font-size: $article-card-byline-dateline-font-size;
        line-height: $article-card-byline-dateline-line-height;

        @media (max-width: $lg-max) {
            font-size: $article-card-byline-dateline-font-size-lg;
            line-height: $article-card-byline-dateline-line-height-lg;
        }

        @media (max-width: $md-max) {
            font-size: $article-card-byline-dateline-font-size;
            line-height: $article-card-byline-dateline-line-height;
        }
    }

    .article-promo {
        font-size: $article-card-promo-font-size;
        line-height: $article-card-promo-line-height;
    }
}