// Media widths (min)
$sm-min: 600px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

// Media widths (max)
$xs-max: 599px;
$sm-max: 767px;
$md-max: 991px;
$lg-max: 1199px;

// Text
$font-family: Roboto, sans-serif;
$medium-bold: 500;
$very-bold: 700;
$muted: #888;
$link-color: #0095d5;
$link-color-light: #3ad1ff;

// Money
$stock-loss-color: #b00;
$stock-gain-color: #071;

// Div
$border-color-light: #e6e6e6;
$box-shadow-color: #e6e6e6;

// Navbar
$navbar-height: 65px;
$navbar-height-sm: 50px;