@import 'variables';


.navbar {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid $border-color-light;
    margin-bottom: 2rem;
    background-color: white;
    height: $navbar-height;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    @media (max-width: $sm-max) {
        height: $navbar-height-sm;
    }
}

.navbar-container {
    @media (max-width: $sm-max) {
        justify-content: center !important;
    }
}

.site-logo-container {
    padding: .5rem;
}

.site-logo {
    max-height: 40px;

    @media (max-width: $sm-max) {
        max-height: 25px;
    }
}